[data-theme="light"]{
  --text-color: black;
  --card-color:#FFFFFF;
  --header-color:#FFFFFF;
  --table-color:#FFFFFF;
  --sub-header-bg:#005D63;
  --img-info-bg:#005D63;
}

[data-theme='dark'] {
  --bg-color: black;
  --text-color: white;
  --card-color:#252525;
  --header-color:#505050;
  --table-color:#FFFFFF12;
  --sub-header-bg:#303030;
  --img-info-bg:#00000099;
  --img-card-box: #FFFFFF12;
}
[data-project="purina"][data-theme="light"] {
  --bg-color: #E82F2F; /* Purina-specific light theme background */
  --text-color: #000000; /* Purina-specific light theme text */
  --sub-header-bg:#cd1717;
}

[data-project="unifier"][data-theme="light"] {
  --bg-color: #099aa4; /* Unifier-specific light theme background */
  --text-color: #000000; /* Unifier-specific light theme text */
  --sub-header-bg:#005D63;
}
[data-project="professional"][data-theme="light"] {
  --bg-color: #EBA742; /* Unifier-specific light theme background */
  --text-color: #000000; /* Unifier-specific light theme text */
  --sub-header-bg:#97661e;
}
/* Project-specific dark theme styles */
[data-project="purina"][data-theme="dark"] {
  --bg-color: #731616;
  --text-color: #FFFFFF; /* Purina-specific dark theme text */
  --sub-header-bg:#303030;
}

[data-project="unifier"][data-theme="dark"] {
  --bg-color: #002244; /* Unifier-specific dark theme background */
  --text-color: #FFFFFF; /* Unifier-specific dark theme text */
}
[data-project="professional"][data-theme="dark"] {
  --bg-color: #573f19; /* Unifier-specific dark theme background */
  --text-color: #FFFFFF; /* Unifier-specific dark theme text */
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2,
h3 {
  text-align: left;
  font-weight: 700;
}
.navbar-brand{
  font-weight: 700;
  color: var(--text-color);
}

/** Card Image */
.card {
  border-radius: 0px;
  border: none;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 2% 0%;
}

.card-img {
  border-radius: 0;
}

.card-img-overlay {
  padding: 0;
}

.card_Background_Color {
  background-color: var(--img-info-bg) !important;
}

.card_Image_Size {
  padding: 2%;
  border-radius: 0px 0px 15px 0px;
}

.card_Image_Dimension {
  padding: 2%;
  border-radius: 0px 0px 0px 15px;
}

.card-body {
  padding: 0;
}

.card-title {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}

.card_Name_Image {
  padding: 2%;
}

.list-group-item {
  background-color: var(--img-card-box);
}

.list-group-flush > .list-group-item {
  border: none;
}

.bg_Color_Line {
  background-color: var(--img-card-box);
}

.card_BorderLine {
  border: 1px solid var(--bg-color);
  width: 80%;
}
/** End Card Image */

.main {
  margin-top: 2.5rem;
  background-color: var(--card-color);
  padding: 4rem;
}

.imageArticle {
  width: 100%;
  height: 100%;
}
.tableContainer{
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #0000004D;
  background-color: var(--table-color);
}
.schemaTable{
  text-align: left;
}
.schemaTable th,td,tr{
  background-color: #00000000;
  color: var(--text-color);
}
.schemaTable td{
  padding-left: 30px;
  background-color: #00000000;
  color: var(--text-color);
  
}
.schema tr{
  border: 4px #E0E0E0;
/* background-color: #962323e5; */
}
